body {
    margin: 0;
    background-color: #fefafc;
}

#container {
    width: 100%;
    position: fixed;
    height: 100%;
    margin: auto;
    left: 0;
    top: 0;
}

.gui-box {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 10;
    width: 200px;
    border: 1px solid #222;
    padding: 10px;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.gui-box button {
    border: 1px solid #222;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #222;
    color: white;
    padding: 5px 30px;
    display: block;
    width: 100%;
}

.gui-box .search {
    display: block;
    width: calc(100% - 5px);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px solid #222;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #222;
    color: white;
    text-align: center;
}